###########################################################################
#                            TextMate Snippets                            #
###########################################################################

priority -50

# for sop file log
snippet tlog
TLog(LEVEL1, __FILE__, __LINE__, "${1:your log info}");${2}
endsnippet

# vim:ft=snippets:
