###########################################################################
#                            TextMate Snippets                            #
###########################################################################

priority -50

snippet sf
select * from 
endsnippet

snippet wh
where
endsnippet
# vim:ft=snippets:
