###########################################################################
#                            TextMate Snippets                            #
###########################################################################

priority -50

snippet s
select * from 
endsnippet

snippet w
where
endsnippet
# vim:ft=snippets:
